## Range function explained

returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

range(start,stop,step)

In [1]:
range(10)

range(0, 10)

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(10,100,5))

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [7]:
list(range(2,40,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

# Loop

Looping means repeating something over and over until a particular condition is satisfied

### for loop execution

In [13]:
for i in range(10):
    print(i,": hello world")
    print('\n=================\n')

0 : hello world

=================

1 : hello world

=================

2 : hello world

=================

3 : hello world

=================

4 : hello world

=================

5 : hello world

=================

6 : hello world

=================

7 : hello world

=================

8 : hello world

=================

9 : hello world

=================

In [18]:
num=[1,9,10,11,12,14,15,16,17,18,20,22,24]

In [19]:
num

[1, 9, 10, 11, 12, 14, 15, 16, 17, 18, 20, 22, 24]

check all even num from give list

In [20]:
for i in num:
    if i%2==0:
        print(i)

10
12
14
16
18
20
22
24

In [24]:
even=[]
odd=[]
for i in num:
    if i%2==0:
        even.append(i)
        print(f"the num {i} is even ")
    else:
        odd.append(i)
        print (f"The num {i} is odd")

The num 1 is odd
The num 9 is odd
the num 10 is even
The num 11 is odd
the num 12 is even
the num 14 is even
The num 15 is odd
the num 16 is even
The num 17 is odd
the num 18 is even
the num 20 is even
the num 22 is even
the num 24 is even

In [22]:
even

[10, 12, 14, 16, 18, 20, 22, 24]

In [25]:
odd

[1, 9, 11, 15, 17]

normal pyramids using loop

In [31]:
for i in range(5):
    x='*'
    x=x*i
    print(f'{x:^10}')

    *
    **
   ***
   ****

## Enumerate function

allows you to keep track of the number of iterations (loops) in a loop.

In [36]:
a=['a','b','c','d']
list(enumerate(a))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

## Zip Function

To Combine two list while iterating

In [38]:
b=[1,2,3,4]

In [40]:
list(zip(a,b))

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

## Creating a dictionary in python

In [42]:
emp_data={
    101:'aaliya',
    102:'minsha',
    103:'aysha',
    104:'shaikh'
}

In [43]:
emp_data

{101: 'aaliya', 102: 'minsha', 103: 'aysha', 104: 'shaikh'}

In [44]:
emp_data[104]

'shaikh'

In [45]:
emp_data.keys()

dict_keys([101, 102, 103, 104])

In [46]:
emp_data.values()

dict_values(['aaliya', 'minsha', 'aysha', 'shaikh'])

In [47]:
emp_data.items()

dict_items([(101, 'aaliya'), (102, 'minsha'), (103, 'aysha'), (104, 'shaikh')])