## Python practice

### comma

In [7]:
a='aaliya'
b=21
print(a,b)

aaliya 21

### fstring

In [5]:
a="aaliya"
print(f'my name is {a}')

my name is aaliya

# List

In [9]:
Emp=[1,'aaliya','aaliya@gmail,com',935364387,True]

In [28]:
salary=[21000]

In [32]:
a=21

In [11]:
Emp

[1, 'aaliya', 'aaliya@gmail,com', 935364387, True]

In [12]:
Emp[1:3]

['aaliya', 'aaliya@gmail,com']

In [13]:
Emp[-1]

True

In [14]:
Emp[-5]

1

### Adding value in  list

In [15]:
Emp.append(21)

value add in last using append

In [16]:
Emp

[1, 'aaliya', 'aaliya@gmail,com', 935364387, True, 21]

In [21]:
Emp.insert(4,'hr')

we use insert for where we want value in which index num

In [22]:
Emp

[1, 'aaliya', 'aaliya@gmail,com', 935364387, 'hr', True, 21]

### Removing value from list

In [23]:
Emp.remove(21)

remove use fro remove which value you want to remove by value name

In [24]:
Emp

[1, 'aaliya', 'aaliya@gmail,com', 935364387, 'hr', True]

In [26]:
Emp.pop(5)

True

pop use from remove value using  index num

In [27]:
Emp

[1, 'aaliya', 'aaliya@gmail,com', 935364387, 'hr']

### mergin value in list

In [34]:
Emp.extend(salary)

extend use fro merge list or value in last

In [30]:
Emp

[1, 'aaliya', 'aaliya@gmail,com', 935364387, 'hr', 21000]

In [31]:
Emp + salary

[1, 'aaliya', 'aaliya@gmail,com', 935364387, 'hr', 21000, 21000]

(+) is to mergin two list